

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 75vmax 15vmax 75vmax 75vmax 55vmin 40vmax 35vmax 35vmax 60vmax 100vmin 30vmin 21vmin;
  grid-template-areas:
  "head head head head"
  "line line line line"
  "asset2 asset2 suav suav"
  "asset3 asset3 asset3 asset3"
  "choose choose choose choose"
  "heat heat asset4 asset4"
  "asset5 asset5 asset4 asset4"
  "asset5 asset5 styling styling"
  "complete complete asset6 asset6"
  "asset7 asset7 asset7 asset7"
  "brush brush brush brush"
  "foot foot foot foot"
  ;
}

.head {
  background-image: url(./assets/Asset\ 1.png);
  background-position:top;
  background-size: cover;
  grid-area: head;
}

.line {
  font-family: "Times New Roman", Times, serif;
  font-weight: 510;
  color: #c0b8b1;
  font-size: 3vw;
  background-color: #2c422f;
  align-items: center;
  justify-content: center;
  display: flex;
  /* margin-right: 15px;
  margin-left:15px; */
  grid-area:line;
}

.line p::first-letter {
  font-size: 5vw;
}

.asset2 {
  background-position:top;
  background-size: cover;
  object-fit: cover;
  grid-area: asset2;
  background-image: url(./assets/Asset\ 2.png);
}
.asset3 {
  grid-area: asset3;
  background-position:top;
  background-size: cover;
  object-fit: cover;
  background-image: url(./assets/Asset\ 4.png);
}
.asset4 {
  background-image: url(./assets/Asset\ 6.png);
  grid-area: asset4;
  background-position:top;
  background-size: cover;
  object-fit: cover;
}
.asset5 {
  grid-area: asset5;
  background-position:top;
  background-size: cover;
  object-fit: cover;
  background-image: url(./assets/Asset\ 7.png);
}
.asset6 {
  background-position:top;
  background-size: cover;
  object-fit: cover;
  grid-area: asset6;
  background-image: url(./assets/Asset\ 8.png);
}
.asset7 {
  grid-area: asset7;
  background-position:top;
  background-size: cover;
  object-fit: cover;
  background-image: url(./assets/Asset\ 9.png);
}

.suav {
  grid-area:suav;
  background-image: url(./assets/Asset\ 3.png);
  background-position:top;
  background-size: cover;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  display: grid;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 4vw;
  color:#2c422f;
}

.suav div::first-letter {
  font-size: 6vw;
}

.firstword {
  display: inline-block;
}






/* .suav p{
  font-family: "Times New Roman", Times, serif;
  font-weight: 510;
  font-size: 3vw;
  color:#2c422f;
  align-items: center;
  justify-content: center;
  display: grid;
} */

.suav hr{
  display:block;
  border-color: #2c422f;
  border-width: .01vmax;
}

.choose {
  background-color: #2c422f;
  justify-content: center;
  align-items: center;
  grid-area:choose;
  display: grid;
  text-align: center;
}

.choose p{
  color: #c0b8b1;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 3vw;
}
.p2{
  /* margin-top: -13vmin; */
  font-family: 'Trebuchet MS', sans-serif;
  color: #9dca9c;
  font-size: 1.7vw;
  font-weight: 600;
}

.choose hr{
  width: 61vw;
  border-color: #93d7ca;
  border-width: .01vmax;
  /* margin-bottom: -200vmin; */
}

.p1::first-letter{
  font-size: 5vw;
}

.heat {
  grid-area: heat;
  background-image: url(./assets/Asset\ 5.png);
  background-position:top;
  background-size: cover;
  object-fit: cover;
  align-items: center;
  justify-content: center;
  display: grid;
  text-align: center;
}

.styling{
  grid-area: styling;
  background-image: url(./assets/Asset\ 3.png);
  background-position:top;
  background-size: cover;
  align-items: center;
  justify-content: center;
  display: grid;
  text-align: center;
}


ul {
  text-align: center;
  list-style-type: none;
}

ul li{
  /* text-align: center; */
  color: #2c422f;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 2.5vw;
}
ul li::before{
  content: "- ";
}
ul li::after{
  content: " -";
}

ol {
  text-align: center;
  list-style-type: none;
}

ol li {
  color:#c0b8b1;
  display: inline;
  font-family: "Times New Roman", Times, serif;
  font-size: 2vw;
}

/* ol li::before{
  content: " - ";
}
ol li::after{
  content: " - ";
} */

.heat div::first-letter {
  font-size: 4vw;
}

.styling div::first-letter {
  font-size: 4vw;
}

.complete div::first-letter {
  font-size: 5.4vw;
}


.complete{
  grid-area: complete;
  background-image: url(./assets/Asset\ 5.png);
  background-position:top;
  background-size: cover;
  object-fit: cover;
  color: #2c422f;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 3.6vw;
  align-items: center;
  justify-content: center;
  display: grid;
  text-align: center;
}

.brush{
  grid-area: brush;
  background-color: #2c422f;
  color:#c0b8b1;
  align-items: center;
  justify-content: center;
  display: grid;
  text-align: center;
  
}

.brush hr {
  border-color: #93d7ca;
  display:block;
  width: 67vw;
}

.foot{
  grid-area: foot;
  background-color: #2c422f;
  background-image: url(./assets/suavecito-logo.png), url(./assets/suavecita-logo.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 9vmin 0vmin, 175vmin 0vmin;
  background-size: 20vmin,20vmin;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: grid;
}

.title {
  font-family: "Times New Roman", Times, serif;
  font-size: 3.2vw;
  display: inline-block;
}

.title::first-letter{
  font-size: 5vw;
}

.engraved {
  font-family: 'Trebuchet MS', sans-serif;
  color:#9dca9c;
  font-size: 2vw;
  font-weight: 600;
}

.copyright {
  font-family: 'Trebuchet MS', sans-serif;
  color:#9dca9c;
  font-size: 0.9vw;
  font-weight: 600;
}

.p3 {
  display: inline-block;
}

.p3::first-letter{
  font-size: 3vw;
}
/* .suavlink{
  font-family: Arial, sans-serif;
} */


@media only screen and (max-width : 768px) { 
  .container{
  /* height: 100vh; */
  /* width: 140vmax; */
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: repeat(14,75vmax);
  grid-template-areas:
  "head"
  "line"
  "asset2"
  "suav"
  "asset3"
  "choose"
  "heat"
  "asset4"
  "asset5"
  "styling"
  "complete"
  "asset6"
  "asset7"
  "brush"
  "foot"
  ;
  }
}